<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-"><link rel="icon" href="data:"><meta name="viewport" content="width=1%"></head><body><pre style="font:unset">

Hello, I'm Chet! 

I am a Data & ML Ops Engineer with a passion for the environment and sustainability.

<a href="https://www.linkedin.com/in/chet-russ/">LinkedIn</a>    <a href="https://github.com/Latseen">GitHub</a>

CV:

Data & ML Ops Engineer @ Marine Biologics
Machine Learning Intern @ RUBISKO
Sofware Development Intern I, II @ Barnacle Foods
Research Assistant, Machine Learning @ UWyo
BSc Computer Science @ University of Wyoming

Projects

<a href="https://github.com/Barnacle-Foods/KelPy">KelPy</a> - Pythonic tool that streamlines orthorectification and kelp identification
<a href="https://github.com/uwyo-mallet/animal-identification-app">Animal Identification Webapp</a> - Dashboard that uses machine learning to identify animals in photos
<a href="https://github.com/SeniorDesign2023/transformers">Fourier Transform Calculator</a> - Fourier Transform calculator written in C# for usage in MAUI Blazor apps
<a href="https://github.com/Latseen/miniprojects">Mini Projects</a> - Collection of small projects that I have worked on
